.whiteBg {
    background-color: $white;
    padding: 1em 0;
    
    header {
        @include layout(flex, center, space-between);
        width: 90%;
        height: 90px;
        margin: 0 auto;
    
        a {
            color: $primary;
            margin-left: 50px;
            flex-direction: row;
        }
    
        a:first-child {
            margin-left: 0;
        }
    
        a:last-child {
            @extend %button-style;
            background-color: $primary;
            color: $white;
        }
    }
}

.pagebackground {
    margin-bottom: 5em;

    img {
        width: 100%;
    }
}

.value-card {
    width: 32%;
    background-color: $grey;
    flex-direction: column;
    @include layout(flex, center, center);
    margin-bottom: 1em;
    border-radius: 10px;
    padding: 1em;

    h5 {
        font-size: 1.4rem;
    }
}

.processText {
    width: 60%;
    margin: 2em auto;
    text-align: center
}

.process {
    @include layout(flex, center, space-between);
    flex-wrap: wrap;

    .process-card {
        width: 45%;
        margin-bottom: 1em;

        h4 {
            font-size: 1.4rem;
            padding: .5em;
        }

        img {
            width: 100%;
        }
    }

}