.topBg {
    @include layout(flex, center, center);
    background-image: url('../assets/homeBg.jpeg');
    background-color: rgb(43, 41, 41);
    background-blend-mode: overlay;
    object-fit: cover;
    height: 60vh;
    color: $white;
    width: 100%;
    object-position: center;
    text-align: center;
    margin-bottom: 5em;
  
    .content {
        width: 55%;
        margin:  0 auto;

        h1 {
            font-size: 54px;
            margin: 0;
        }

        a {
            width: 60%;
            margin: 0 auto;
            @include layout(flex, center, center);
            @extend %button-style;
            height: 51px;
            padding: .2em;
            background-color: $primary;
            color: $white;
        }

        a:hover,
        a:focus {
            background-color: $secondary;
            color: $primary;
        }
    }

        .hero {
            width: 45%;

            img {
                width: 100%;
            }
        }
}

.mainContent {
    width: 90%;
    margin: 2em auto;

.topContent {
    @include layout(flex, center, space-between);

    .brief, .briefImg {
        width: 46%;

        p:first-child {
            margin: 0;
        }

        h3 {
            font-size: 38px;
            color: $primary;
        }

        img {
            width: 100%;
        }

        a {
            width: 70%;
            @include layout(flex, center, center);
            @extend %button-style;
            height: 51px;
            padding: .2em;
            background-color: $primary;
            color: $secondary;
        }

        a:hover,
        a:focus {
            background-color: $secondary;
            color: $primary;
        }
    }
}

.product {
    margin: 4em 0;
}

.product-container {
    flex-wrap: wrap;
    @include layout(flex, center, space-between);

    .product-card {
        @include layout(flex, start, center);
        flex-direction: column;
        width: 30%;
        background-color: $secondary;
        padding: 1em;
        border-radius: 8px;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: center;
        }

        h4 {
            margin-top: 1em;
        }

        p {
            background-color: $white;
            color: $primary;
            font-weight: 700;
            padding: .5em 1em;
            padding: .7em 1em;
            align-self: flex-end;
            border-radius: 30px;
        }
    }
}
}

.slider-container {
    display: flex;
}

.slider {
    @include layout(flex, center, space-between);
    flex-wrap: wrap;
    margin-bottom: 2em;

    .slide {
        width: 32%;
        @include layout(flex, center, space-between);
        background-color: $secondary;
        border-radius: 10px;
        margin-bottom: 1em;
        padding: 1em;
        
        div {
            width: 65%;

            p {
                font-size: .8rem;
            }
        }
       

        img {
            width: 30%;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }

        
    }
}